.breadcrumbs {
   padding: 20px 0 40px;

   @media #{$mobile} {
      margin: 20px 0 0;
      flex-wrap: wrap;
      padding-bottom: 30px;
   }

   li {
      display: inline-block;
      padding-right: 15px;
      margin-bottom: 5px;
      position: relative;
      font-weight: 400;
      color: #fff;
      list-style: none;

      @media #{$mobile} {
         padding-right: 7px;
      }

      &:not(:last-child)::after {
         content: '\203A';
         margin-left: 15px;
         color: #fff;

         @media #{$mobile} {
            margin-left: 7px;
         }
      }

      a {
         color: #fff;
      }
   }
}