
.main{
   color: #fff;
   position: relative;
   padding-bottom: 50px;
   overflow-x: hidden;

   @media #{$mobile} {
      background: url(../../img/planet/star-line.png), url(../img/planet/star-line-orange.png);
      background-repeat: no-repeat, no-repeat;
      background-size: cover, 55%;
      background-position: 0 150px, 178% 100%;
   }
   @media #{$sTablet} {
      background-position: 0 0, 178% 100%;
   }
   @media #{$sDesktop} {
      padding-bottom: 70px;
   }
   @media #{$desktop} {
      padding-bottom: 160px;
   }

   .h1{
      font-size: 5rem;

      @media #{$sDesktop} {
         font-size: 5.8rem;
      }
   }

   &__wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 3rem;
      position: relative;
      text-align: center;

      @media #{$mobile} {
         flex-direction: row;
         align-items: flex-start;
         min-height: 600px;
         padding-top: 10rem;
         text-align: left;
      }
      @media #{$tablet} {
         min-height: 400px; 
      }
      @media #{$sDesktop} {
         padding-left: 8vw;
      }
      @media #{$desktop} {
         min-height: 600px;
         padding-top: 15rem;
      }
   }

   &__text{
      z-index: 2;

      @media #{$mobile} {
         width: 50%;
      }

      p{
         color: #fff;
         font-size: 2rem;

         @media #{$mobile} {
            font-size: 2.5rem;
         }
         @media #{$sDesktop} {
            font-size: 3.5rem;
         }
      }
   }

   .video{
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @media #{$mobile} {
         justify-content: flex-end;
      }
      @media #{$desktop} {
         display: block;
      }

      &__responsive{
         width: 300px;
         height: 250px;

         @media #{$mobile} {
            width: 647px;
            height: auto;
         }
         @media #{$desktop} {
            width: auto;
         }
      }

      &--frame{
         border-radius: 50%;
         width: 200px;
         height: 200px;
         left: inherit;
         animation: 3s fadeInPlanet;
         margin-left: 46px;

         @media #{$mobile} {
            width: 100%;
            height: auto;
            max-width: 433px;
            max-height: 433px;
            margin-left: 100px;
         }
         @media #{$desktop} {
            margin-left: 0;
            right: 25%;
            max-width: 633px;
            max-height: 633px;
         }
      }

      .planet-scope{
         position: absolute;
         width: 100%;
         top: 30px;
         left: 0;
         // animation: pulse 3s ease-in-out infinite;

         @media #{$mobile} {
            top: 73px;
         }
         @media #{$desktop} {
            top: 10%;
            left: 19%;
            max-width: 959px;
            width: 100%;
         }
      }
   }

   .planet{
      width: 100%;
      text-align: left;
      margin-top: 50px;
      
      @media #{$mobile} {
         position: absolute;
         margin-top: 0;
      }
      @media #{$sTablet} {
         right: 10%;
      }
      @media #{$desktop} {
         right: inherit;
      }

      &__satellites{
         position: absolute;
         top: 100px;
         left: -23px;
         display: flex; 
         z-index: 2;

         @media #{$mobile} {
            top: 230px;
            left: 0;
         }
         @media #{$desktop} {
            top: 45%;
            left: 18%;
         }
      }
   }

   .satellite{
      position: relative;
      width: 31px;
      height: 31px;
      background-color: #4CE5E9;
      border-radius: 50%;
      margin-right: 50px;

      animation: 2s fadeIn;
      transition: background-color .15s ease-in-out;
      cursor: pointer;

      &:hover{
         background-color: map-get($colors, secondary);
      }

      &:nth-child(1){
         margin-right: 35px;
         transform: translate(25px, -7px);
         @media #{$mobile} {
            margin-right: 80px;
            transform: translate(15px, 0px);
         }
         @media #{$desktop} {
            margin-right: 130px;
         }
      }
      &:nth-child(2){
         margin-right: 50px;
         transform: translateY(48px);
         @media #{$mobile} {
            margin-right: 120px;
            transform: translateY(122px);
         }
         @media #{$desktop} {
            margin-right: 180px;
            transform: translateY(144px);
         }
      }
      &:nth-child(3){
         margin-right: 40px;
         transform: translateY(37px); 
         @media #{$mobile} {
            margin-right: 80px;
            transform: translateY(107px); 
         }
         @media #{$desktop} {
            margin-right: 115px;
            transform: translateY(129px); 
         }
      }
      &:nth-child(4){
         margin-right: 30px;
         transform: translateY(11px);
         @media #{$mobile} {
            margin-right: 60px;
            transform: translateY(76px);
         }
         @media #{$desktop} {
            transform: translateY(93px); 
         }
      }
      &:nth-child(5){
         transform: translateY(-26px);
         @media #{$mobile} {
            transform: translateY(39px);
         }
         @media #{$desktop} {
            transform: translateY(63px);; 
         }
      }         

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5){
         .satellite__tab--content{
            right: 0;
            text-align: right;
            margin-top: -60px;

            min-width: 200px;
            background: rgba(13,7,0,.5);
            padding: 7px 20px;
            border-radius: 5px;
            
            @media #{$mobile} {
               position: absolute;
               right: inherit;
               min-width: 250px;
               margin-left: 70px;
               margin-top: 30px;
               padding: 7px 30px;
               text-align: left;
            }
         }
      }

      &.is-active{
         cursor: default;
         z-index: -1;

         &::before{
            content: '';
            position: absolute;
            top: 5%;
            left: 0;
            width: 60px;
            height: 35px;
            background: transparent;
            border: 1.5px dashed map-get($colors, primary);
            border-radius: 60px / 35px;
            transform: rotate(-25deg) translateX(-20%);
            transform-origin: center;
            animation: .8s satallite-scope; 
            
            @media #{$sTablet} {
               width: 80px;
               height: 40px;
               border-radius: 80px / 40px;
            }
         }

         &::after{
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            transform-origin: center;
            background-color: map-get($colors, primary); 
            animation: .5s scale;

            @media #{$sTablet} {
               top: -6px;
               left: -6px;
               width: 44px;
               height: 44px;
            }
         }

         .satellite__tab{
            display: block;
         }
      }

      &__tab{
         display: none;
         position: relative;
         z-index: 1;
         animation: .5s appear;

         &--content{
            display: block;
            position: absolute;
            right: inherit;
            min-width: 300px;
            margin-top: -60px;

            @media #{$sTablet} {
               right: 0;
               padding-right: 70px;
               margin-top: 0;
               text-align: right;
            }
         }

         span{
            display: block;
            color: map-get($colors, primary);
            font-weight: 700;
            font-size: 1.6rem;

            @media #{$tablet} {
               font-size: 1.8rem;
            }
            @media #{$desktop} {
               font-size: 2.1rem;
            }

            &:last-child{
               font-weight: 300;
            }
         }
      }
   }


   &__partners{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      @media #{$tablet} {
         flex-direction: column;
         align-items: flex-end;
         justify-content: flex-end;
      }

      img{
         display: block;
         margin: 10px;
         width: 100px;

         @media #{$mobile} {
            width: auto;
            max-width: 151px;
         }
         @media #{$sTablet} {
            margin: 20px 0;
         }

         &:nth-child(1){
            max-width: 141px;
         }
         &:nth-child(2){
            max-width: 129px;
         }
         &:nth-child(3){
            max-width: 110px;
         }
      }
   }

   &__actions{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;
      position: relative;
      z-index: 1;

      @media #{$mobile} {
         flex-wrap: nowrap;
      }
      @media #{$sTablet} {
         flex-direction: row;
      }
      @media #{$desktop} {
         margin-top: 70px;
      }

      .action{
         width: 100%;
         max-width: 700px;
         @media #{$sTablet} {
            width: calc(50% - 15px);
         }
         @media #{$desktop} {
            width: calc(50% - 60px);
         }
      }
   }
}

.action{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;

   @media #{$sTablet} {
      flex-direction: row;
   }

   .title-border{
      width: 100%;

      @media #{$mMobile} {
         width: 90%;
      }
      @media #{$sTablet} {
         width: 50%;
         margin-right: 20px;
      }
      @media #{$desktop} {
         margin-right: 50px;
      }
   }

   &__btn-group{
      width: 100%;

      @media #{$mMobile} {
         width: 90%;
      }
      @media #{$sTablet} {
         width: 50%;
      }

      .btn{
         display: flex;
      }
   }
}